@media screen and (max-width: 768px){
    #container{
        width: 100%;
    }
    header{
        height: clamp(0px, 35vw, 268px);
    }
    #search-div{
        top: clamp(0px, 32vw, 248px);
    }
    #s-input{
        width: 35vw;
    }
    #s-icon{
        height: 0.8rem;
    }
    #s-input, #s-btn, .suggestions{
        font-size: 0.8rem;
    }
    #s-icon, #s-input, #s-btn{
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .suggestions {
        width: calc(35vw + 143.29px);
    }
    main{
        padding: 70px 0px;
        width: 100%;
        min-height: calc(100vh - 140px - clamp(0px, 35vw, 268px));
    }
    main > h3{
        font-size: 1.1rem;
    }
    main > img{
        width: 50px;
    }
    .movie{
        width: 85vw;
        gap: 3vw;
        padding: 17px 0px;
    }
    .div2 > h5{
        font-size: 2.5vw;
    }
    .div2 > h5 > span{
        font-size: 1.8vw;
    }
    .div2 > h6{
        font-size: 2vw;
    }
    .div2 > p{
        font-size: 2.15vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #container{
        width: 100%;
    }
    header{
        height: clamp(220px, 35vw, 290px);
    }
    #search-div{
        top: clamp(205px, 32vw, 275px);
    }
    #s-input{
        width: 20rem;
    }
    .suggestions {
        width: 470px;
    }
    main{
        padding: 90px 0px;
        width: 100%;
        min-height: calc(100vh - clamp(220px, 35vw, 290px) - 180px);
    }
    main > h3{
        font-size: 1.2rem;
    }
    main > img{
        width: 60px;
    }
    .movie{
        width: 680px;
    }
}
