/* General */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1024px;
}



/* Header */
header {
    background-image: url("../img/bg/main1.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 290px;
    align-self: center;
}

#head-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.574);
    width: 100%;
    height: 100%;
}

#head-div h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-shadow: 2px 2px 4px black;
    padding-left: 1.5em;
}

#head-div a {
    text-decoration: none;
    color: white;
}

#head-div h2 {
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
    padding-right: 3em;
}



/* Main */
main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 80px;
    align-self: center;
    width: 100%;
    min-height: calc(100vh - 370px);
    background-color: rgba(18, 18, 18, 1);
}



/* Main-Placeholder */
main > h3 {
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(116, 116, 116);
    text-align: center;
    padding: 0.7em 5vw 0px;
}

main > img {
    align-self: center;
}

main > h3 > a{
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
main > h3 > a > img{
    height: 1rem;
}

/* Main-Actual */
.movie {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;
    width: 680px;
    color: white;
    padding: 25px 0px;
    border-bottom: 1.5px solid rgba(44, 44, 44, 1);
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.div1>img {
    display: block;
    width: 100%;
    height: 100%;

}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div2>h5 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
}

.div2>h5>span {
    font-size: 0.9rem;
    font-weight: 400;
}

.div2>h6 {
    font-size: 1rem;
    font-weight: 400;
}

.div2 > h6 > span{
    font-weight: 500;
    cursor: pointer;
}

.div2>h6>span>img{
    cursor:initial;
    height: 1em;
}


.div2>p {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(165, 165, 165, 1);
}


@media screen and (max-width: 768px){
    #container{
        width: 100%;
    }
    header{
        height: clamp(0px, 35vw, 268px);
    }
    main{
        padding-top: 70px;
        width: 100%;
        min-height: calc(100vh - 70px - clamp(0px, 35vw, 268px));
    }
    main > h3{
        font-size: 1.1rem;
    }
    main > h3 > a{
        font-size: 0.95rem;
    }
    main > h3 > a > img{
        height: 0.75rem;
    }
    .movie{
        width: 85vw;
        gap: 3vw;
        padding: 17px 0px;
    }
    .div2 > h5{
        font-size: 2.5vw;
    }
    .div2 > h5 > span{
        font-size: 1.8vw;
    }
    .div2 > h5 > span > img{
        height: 2vw;
    }
    .div2 > h6{
        font-size: 2vw;
    }
    .div2 > p{
        font-size: 2.15vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #container{
        width: 100%;
    }
    header{
        height: clamp(220px, 35vw, 290px);
    }
    main{
        padding-top: 90px;
        width: 100%;
        min-height: calc(100vh - clamp(220px, 35vw, 290px) - 90px);
    }
    main > h3{
        font-size: 1.2rem;
    }
    main > h3 > a{
        font-size: 1rem;
    }
    main > h3 > a > img{
        height: 0.85rem;
    }
    .movie{
        width: 680px;
    }
}
